<ul>
    <li>
        <p><a href="./">На главную</a></p>
    </li>
    <li>
        <p><a href="./about">О нас</a></p>
    </li>
    <li>
        <p><a href="./products">Продукты</a></p>
    </li>
</ul>